<!DOCTYPE html>
<html lang="en">
<head>
  <title>심부전증 발병 예측기</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  

  <img src="{{url_for('static', filename='heart1.jpeg')}}" align="center"/>

  <form action="HeartDisease">
    <div class="form-group">
      <label for="Age">나이</label>
      <input type="text" class="form-control" id="Age" placeholder="나이를 입력하세요." name="Age" width: 75%>
    </div>

    <div class="form-group">
      <label for="RestingBP">안정 혈압</label>
      <input type="text" class="form-control" id="RestingBP" placeholder="안정시 혈압을 입력하세요." name="RestingBP">
    </div>

    <div class="form-group">
      <label for="Cholesterol">콜레스테롤</label>
      <input type="text" class="form-control" id="Cholesterol" placeholder="콜레스테롤 수치를 입력하세요." name="Cholesterol">
    </div>
    <div class="form-group">
      <label for="MaxHR">최대심박수</label>
      <input type="text" class="form-control" id="MaxHR" placeholder="최대심박수를 입력하세요." name="MaxHR">
    </div>

    <button type="submit" class="btn btn-primary">제출</button>
  </form>

  <button type="button" class="btn btn-warning">당신의 심부전증 발병 확률은 {{ Output }}% 입니다.</button>
</div>



</body>
</html>
